// html font size
$html-font-size: 10px; // used at the and of reset.scss

// colors
$main-background-color: #f2efe8;
$main-font-color: #808080;
$white: #fff;

// fonts
$main-font: 'Forum', cursive;
$special-font: 'Satisfy', cursive;

// images
$about-img: url("./../img/about.jpeg");

//$project-img-1: url("./../img/project-img/project-1.jpg");
//$project-img-2: url("./../img/project-img/project-2.jpg");
