// colors
$main-background-color: #f2efe8;
$main-font-color: #808080;
$white: #fff;

// fonts
$main-font: 'Forum', cursive;
$special-font: 'Satisfy', cursive;

// images
$about-img: url("./../img/about.jpeg");
