header {
  @include about-section-shadow;
  width: 100%;
  min-height: 100vh;
  background-color: $main-background-color;
  padding: 2rem 0 2rem 0;
  color: $main-font-color;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  font-family: $main-font;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-family: $special-font;
    font-size: 3.4rem;
    margin: 2.5rem 0 0 0;
    width: 100%;
    padding: 0 2rem 0 2rem;
  }

  p {
    margin: 3rem 0 0 0;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 0 2rem 0 2rem;
  }
}

.about-img {
  @include about-img-shadow;
  width: 22rem;
  height: 22rem;
  background-image: $about-img;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  border-radius: 50%;
}

.contact {
  margin: 5vh 0 0 0;
  padding: 0 2rem 0 2rem;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: .2rem;
  flex-direction: column;
}

@media (max-width: 767px) and (orientation: landscape) {
  .contact {
    margin: 5rem 0 5rem 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .about-img {
    width: 15rem;
    height: 15rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  header {
    min-height: auto;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .about-img {
    width: 22rem;
    height: 22rem;
  }

  .header {
    h1 {
      font-size: 3.6rem;
    }

    p {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 991px) and (orientation: landscape) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 30vw;
  }
}
