.modal {
  font-family: $main-font-family;
  color: $main-font-color;
  line-height: 2rem;
  letter-spacing: .1rem;
}

//.project-modal-img { // this class or mixin
//}

.project-modal-img-1 {
  @include project-modal-img;
  background-image: $project-img-1;
  height: 20rem;
}

.project-modal-img-2 {
  @include project-modal-img;
  background-image: $project-img-2;
  height: 45rem;
}

.project-description {
  font-size: 1.8rem;
  max-width: 85%;
  margin: 0 auto;
}

.modal-footer {
  .close {
    font-size: 2rem;
  }
}

